@using Rcl.DataTable.Models
@code {
    [Parameter] public string TableId { get; set; } = "";
    [Parameter] public SearchViewModel Model { get; set; } = new();
}

<div class="dt-search-wrapper p-3 border-bottom bg-light">
    <div class="position-relative">
        <div class="input-group">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-search text-muted"></i>
            </span>
            <input type="text" 
                   name="searchTerm" 
                   id="search-@TableId"
                   value="@Model.SearchTerm"
                   class="form-control border-start-0 shadow-none pe-5" 
                   placeholder="@Model.Placeholder"
                   hx-get="@Model.SearchUrl" 
                   hx-trigger="keyup changed delay:500ms, search" 
                   hx-target="#dt-@TableId" 
                   hx-swap="outerHTML"
                   hx-indicator=".dt-loader-@TableId" />
            
            @* Bouton de suppression (X) *@
            @if (!string.IsNullOrEmpty(Model.SearchTerm))
            {
                <button type="button" 
                        class="btn position-absolute end-0 top-50 translate-middle-y border-0 z-3 text-muted"
                        style="right: 10px !important;"
                        hx-get="@Model.SearchUrl?searchTerm=" 
                        hx-target="#dt-@TableId"
                        hx-swap="outerHTML">
                    <i class="bi bi-x-lg"></i>
                </button>
            }
        </div>
    </div>
    <div class="progress htmx-indicator dt-loader-@TableId" style="height: 2px; margin-top: 2px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
    </div>
</div>