@using Rcl.DataTable.Models

<div class="search-wrapper">
    <div class="search-input-box">
        <i class="bi bi-search search-icon-bg"></i>
        <input type="text" name="searchTerm" value="@Model.SearchTerm" 
               class="dt-input" autocomplete="off" placeholder="Filtrer..."
               hx-get="@Model.SearchUrl" hx-trigger="keyup changed delay:300ms" />
        
        @if (!string.IsNullOrEmpty(Model.SearchTerm))
        {
            <button type="button" class="btn-clear" 
                    hx-get="@Model.SearchUrl.Replace(Model.SearchTerm, "")" 
                    hx-target="closest .dt-container">
                <i class="bi bi-x-circle-fill"></i>
            </button>
        }
    </div>
    @if (TotalFound > 0 && !string.IsNullOrEmpty(Model.SearchTerm))
    {
        <span class="badge-large">@TotalFound</span>
    }
</div>

@code {
    [Parameter, EditorRequired] public string TableId { get; set; } = string.Empty;
    [Parameter, EditorRequired] public SearchViewModel Model { get; set; } = new();
    [Parameter] public int TotalFound { get; set; }
}