@using Rcl.DataTable.Models

@* Le badge "fantôme" qui va mettre à jour le badge de Index.cshtml *@
@* @{
    int count = Model.TotalItems;
    string info = count == 0 ? "Aucun item" : count == 1 ? "1 item" : 
               count.ToString("N0", new System.Globalization.CultureInfo("fr-FR")) + " items";
}
<span id="main-product-badge" class="badge bg-primary" hx-swap-oob="true">@info</span> *@

@{
    Func<Product, List<TableAction>> productActions = (p) => new List<TableAction>
    {
        new() { Icon = "bi-eye-fill", Title = "Détails", Url = $"/Products/Details/{p.Id}" },
        new() { Icon = "bi-trash3-fill", Title = "Supprimer le produit", Url = $"/Products/Delete/{p.Id}", 
                ColorClass = "text-danger", IsDelete = true }
    };
}

<component type="typeof(Rcl.DataTable.Components.DataTable<Product, Guid>)" 
           render-mode="Static" 
           param-Model="Model" 
           param-GetActions="productActions" />