@using Rcl.DataTable.Models
@using WebApp.Client.Models
@model DataTableViewModel<Product, Guid>

<link rel="stylesheet" href="WebApp.Client.styles.css" />

@{
    ViewData["Title"] = "Gestion du Million de Produits";
    var itemCount = Model.TotalItems;
    var itemCountInfo = itemCount == 0 ? "Aucun item" : itemCount == 1 ? "1 item" :
    itemCount.ToString("N0", new System.Globalization.CultureInfo("fr-FR")) + " items";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Catalogue des produits</h1>
        @* On ajoute l'ID et l'attribut OOB par défaut pour la cohérence *@
        <span id="main-product-badge" class="badge bg-primary">@itemCountInfo</span>
    </div>

    @* Conteneur HTMX : C'est ici que les futures pages s'injecteront *@
    <div id="product-table-container">
        <partial name="_TablePartial" model="Model" />
    </div>
</div>