<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataTable Pure CSS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/dist/theme-init.js" asp-append-version="true"></script>
</head>
<body>
    <div id="theme-wrapper">
        <header class="layout-header">
            <div class="container nav-wrapper">
                <a class="brand" asp-controller="Products" asp-action="Index">
                    DataTable Razor <span class="text-accent">Htmx</span>
                </a>
                <button id="theme-toggle" class="btn-icon">
                    <i class="bi bi-sun-fill d-dark-none"></i>
                    <i class="bi bi-moon-fill d-light-none"></i>
                </button>
            </div>
        </header>

        <main class="layout-main container">
            @RenderBody()
        </main>

        <footer class="layout-footer">
            <div class="container">
                <p>&copy; 2026 - <a asp-controller="Products" asp-action="Index">Catalogue Produits</a></p>
            </div>
        </footer>
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph.min.js"></script>
    <script src="~/dist/main.bundle.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>